body
	background red
	color red
	

.Card
	width200px;
	background-color #C2AC37
	border 5px solid gray
	border-radius .5em
			
	&-description
		background-color white
		padding .5em
		font-size 12px
		text-align center
								
	&-image
		width 100%
			

