doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Game Card
	link(rel="stylesheet",href="./css/app.css")
body
	h1 Marvel Game Card
	div(class="Card")
		h2(class="Card-name") Wolverine
		img(src="./images/wolverine.jpg", alt="Wolverine", class="Card-image")
		div(class="Card-description") Volverine es muy poderoso
		div(class="Card-attack") 500 puntos de ataque

