.Card	
	width	200px
	background	#c2ac37
	border	5px	solid	gray
	border-radius	.5em
	text-align	center
	
	&-description
		background	white
		padding	.5em
		font-size	12px
			
	&-image
		width	100%	
		
